language: ruby
rvm:
  - 2.6.3
cache: bundler
before_script:
  - chmod +x ./script/cibuild
script: script/cibuild
env:
  global:
    - NOKOGIRI_USE_SYSTEM_LIBRARIES=true
notifications:
  email: false
deploy:
  provider: pages
  edge: true
  cleanup: false
  keep_history: true
  local_dir: "./_site"
  commit_message: "release: deploy %{project_name}"
  github_token:
    secure: u55SeQy9U8UuO/NYU5Wzd86fNqZIBRkFn+j4bnac7k68VZ0DMJyNyoa/Pr2s7zK8zh8loZ21Zezmk0GLJyxD2UoSBG7fmBFy42wi+9iQakbmvR1nvNB047NF67MyQqm2DiDsw4xzDhL5Hk7p17TUpem18WOSfaOiFCRUEJPmJ0H3lwuGH9+jpSi+iTHa5f2bPyfn/5pLtVdFGR0wCsg1IqfIeuW3CJQaRu1BpYjW0YG7Rzoofr0uqwfSiIcsIPXiKscL1qPTeB8XSdGAZ7hjzwQ3Uwb6pGI1i3g7TTqzPJix7zdnhyL5y6YKSk6CygD+GMIPmOC55+KraEqp5nhouC90Vbdk9eFUTU4dEM2U7veaiKeFWkuEmfGI8+HuWYvOpuSnTOvb9UUyo4yO74jUsRGAoq5+AkXx+YHLVnzJyMQ0coHL3i5LCLagiuWCnuMwXC9Bdbl5yu/yS3Wpy/nnlfrLlxB/qlLHxW0SYptp5psspcRWFEjy1u6UDrN52lOOeZ0iCo8Fn0XApJIe6SbXMaS1893jSH5xpuNQWm2h/z9/H77N5BEzsKuu3lLZfOHckK/AeC6wZhOLBuodm3RQ269L+zlRYsEiOi//cwaIlQ5YOKMgEBsV68QK68ezDIU8t40UZSIHLZSfdZeoFKHdkX252m5dwnV4FHIe2MKEXXA=
  on:
    branch: master
